body {
    margin:0px;
    padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    font-family: sans-serif;
    line-height: 25px;
}


.roboto{
    font-family: "roboto";
}
* ::selection{
    color:white;

    background-color:#D7282F;
}
#header{
    margin-bottom: 30px;
}

#line{
    width:58%;
    margin:auto;
    border:1.15px solid red;
    background-color:#D7282F;

}

#top{
    width:70%;
    margin:auto;
    margin-top:50px;
}

#part1{
    line-height: 150%;

}

#part1 h3{
    font-size: 28px;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 2px;
   
    
}
#part1>.line{
    width:14%;
    border:1.25px solid red;
    background-color:#D7282F;

}

.high{
    color:#3D7CC9;
    font-weight: normal;
    cursor:pointer;
}

#section2{
    width:70%;
    margin:auto;

    display:flex;    
}
#section2a {
    width:45%;
    padding:20px;

}
#section2b{
    width:45%;
    padding:20px;

}

#section2a>h2{
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 2px;
}

#section2b>h2{
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 2px;
}

.box{
    width:90%;
    margin:10px 0px;
    padding:10px 10px;
    font-size: 16px;
    color:#777777;
border:1px solid #EDEDED;

}

form>p{
    font-weight: bold;
    margin-bottom: 0px;
}
.g-recaptcha{
    margin: 20px 0px;
}

.btn {
    margin-top: 10px;
    padding:15px 35px;
    color:white;
    background-color: #d7282f;
    border-radius: 25px;
    border:none;
    font-size: 13px;
}

.btn:hover{
    background-color: #fb2056;

}

#section2b>ul{
    padding-left: 0px;
}

form>input{
    background-color: rgb(250,250,250);
}

#box{
width:60%;
margin:10px 0px;
}

#box>img{
    width:100%;
}