body {
    margin:0px;
    padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    font-family: sans-serif;
    line-height: 25px;
}


.roboto{
    font-family: "roboto";
}
* ::selection{
    color:white;

    background-color:#D7282F;
}
#header{
    margin-bottom: 20px;
}

#line{
    width:57%;
    margin-top:10px;
    margin:auto;
    border:1.15px solid red;
    background-color:#D7282F;

}

#top{
    width:70%;
    margin:auto;
    margin-top:50px;
}

#part1{
    line-height: 150%;

}

#part1 h3{
    font-size: 28px;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 2px;
   
    
}
#part1>.line{
    width:15%;
    border:1.25px solid red;
    background-color:#D7282F;

}
.high{
    color:blue;
    font-weight: normal;
    cursor:pointer;
}

#section1{
    margin-top:200px;
    width:65%;
    display: flex;
    margin:auto;
    border:1px solid red;
}

#section1>div{
    border:1px solid red;
    width:49%;
    margin:auto;
}

#section1>div>img {
    width:100%;
    margin: auto;
}

#section1>div>h1{
    font-size: 28px;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 2px;
}